<div class="row mb-3">
  <div class="col">
    <h1 class="h3">breweries</h1>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <%= form_with url: breweries_path, method: :get, local: true, class: "row gy-2 gx-2 align-items-end" do |f| %>
      <div class="col-md-4">
        <%= label_tag :q, "search", class: "form-label" %>
        <%= text_field_tag :q, @q, class: "form-control", placeholder: "name or city" %>
      </div>
      <div class="col-md-4">
        <%= label_tag :country_id, "country", class: "form-label" %>
        <%= select_tag :country_id, options_for_select([["all", ""]] + @countries.map { |c| [c.name, c.id] }, @country_id), class: "form-select" %>
      </div>
      <div class="col-md-2">
        <%= submit_tag "search", class: "btn btn-primary w-100" %>
      </div>
      <div class="col-md-2">
        <%= link_to "reset", breweries_path, class: "btn btn-secondary w-100" %>
      </div>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th>name</th>
        <th>type</th>
        <th>city</th>
        <th>country</th>
      </tr>
    </thead>
    <tbody>
      <% @breweries.each do |b| %>
        <tr>
          <td><%= link_to b.name, b %></td>
          <td><%= b.brewery_type %></td>
          <td><%= b.city %></td>
          <td><%= link_to b.country.name, b.country %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="my-3">
  <%= paginate @breweries %>
</div>
